body {
        background-image: url("ParchmentBG.png");
	padding: 10px;
        font-family: Arial;
}

h1, h2, h3 {
	color: black;
	text-align: center;
}

li {
	color: white;
}

button, select {
    width: 100%;
}

#parameters, #behaviour {
    height: 350px;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: rgba(255,125,0,0.2);
    text-align: center;
    float: left;
}

#parameters {
    width: 15%;
}

#behaviour {
    width: 30%;
    overflow: hidden;
}

#setup {
    box-sizing: border-box;
    height: 130px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px dashed black;
    overflow: hidden;
}

#levels, #tiles {
    box-sizing: border-box;
    float: left;
    width: 50%;
}

#draw {
    float: top;
    width: 100%
}

#cards {
    color: black;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.white {
    color: white;
}

.spell {
    font-weight: bold;
}

.wound {
    font-style: italic;
}